.bg-blue {
	background-color: #046E8F;
	
}

.font-input {
	font-family: 'Muli', sans-serif;
	mix-blend-mode: multiply;
	font-weight: 300;
}


.font-reg {
	font-family: 'Muli', sans-serif;

	font-weight: 300;
}


.font-med {
	font-family: 'Muli', sans-serif;

	font-weight: 400;
}

.font-sem {
	font-family: 'Muli', sans-serif;

	font-weight: 600;
}


.font-bol {
	font-family: 'Muli', sans-serif;

	font-weight: 700;
}

.font-ext {
	font-family: 'Muli', sans-serif;

	font-weight: 800;
}

.font-title {
	font-family: 'Muli', sans-serif;
	font-size: 250%;
	font-weight: 700;
}

.font-desc {
	font-family: 'Muli', sans-serif;
	font-size: 120%;
	font-weight: 300;
}

  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input {
    flex: 2;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  .form-row > button {
   background: gray;
   color: white;
   border: 0;
  }
  
.absolute-center {
 /* Must manually set width/height */
 width:800px;
 height:500px;

 /* The magic centering code */
 margin:auto;
 position:absolute;
 top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
 left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

 /* Prevent div from overflowing main window */
 max-width:100%;
 max-height:100%;
 overflow:auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* IE 7 and Below */
:first-child+html .absoluteCenter,
* html .absoluteCenter {
 /* Place code here to override all above values, and add IE friendly centering */
}

 @media screen and (min-width: 768px) {
   	.form-row > input {
    	flex: 3;  
   }
  }
 @media screen and (min-width: 992px) {
   	.form-row > input {
    	flex: 4;  
   }
  }
 @media screen and (min-width: 1200px) {
   	.form-row > input {
    	flex: 5;  
   }
  }