<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Jabatan</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
	<div th:if="${message != null}" class="container" style="position: fixed; top: 64px; z-index: 99; left: 0; right: 0; max-width: 640px">
        <div th:object="${message}" class="alert alert-dismissible fade show" th:classappend="'alert-' + *{type}" role="alert">
            <strong th:text="*{title}"></strong>
            <p th:text="*{content}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
		<h1>Tambah Jabatan</h1>
		<form method="POST" action="/jabatan/tambah">
			<label for="name">Nama</label>
			<input type="text" id="name" th:field="${jabatan.nama}" /><br>
			<label for="desc">Deskripsi</label>
			<input type="text" id="desc" th:field="${jabatan.deskripsi}" /><br>
			<label for="gaji">Gaji Pokok</label>
			<input type="number" min="0" id="gaji" th:field="${jabatan.gaji_pokok}" /><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>