<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<h1 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h1>
		<br>
		<table>
			<tr>
				<td>NIP</td>
				<td th:text="${pegawai.nip}"></td>
			</tr>
			<tr>
				<td>Nama</td>
				<td th:text="${pegawai.nama}"></td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td th:text="${pegawai.tempat_lahir}"></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td th:text="${pegawai.tanggalLahir}"></td>
			</tr>
			<tr>
				<td>Tahun Masuk</td>
				<td th:text="${pegawai.tahun_masuk}"></td>
			</tr>
			<tr>
				<td>Nama Instansi</td>
				<td th:text="${pegawai.instansi.nama}"></td>
			</tr>
			<tr>
				<td>Jabatan</td>
				<td th:each="jabatan : ${pegawai.jabatan}" th:text="${jabatan.nama}"></td>
			</tr>
			<tr> 
				<td>Gaji</td>
					<td th:text="'Rp' + ${gajiTotal}"></td>
				</tr>
		
		</table>
	</body>
</html>