<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>List Jabatan</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.css}">
		
		
		
	</head>
	<body>
		<table id="jabatanTable" class="table table-striped table-hover"> 
	          <thead class="thead-dark"> 
	          <tr> 
	              <th scope="col">Nama</th> 
	              <th scope="col">Deskripsi</th> 
	              <th scope="col">Gaji Pokok</th> 
	              <th scope="col">Jumlah Pegawai</th> 
	          </tr> 
	          </thead> 
	          <tbody> 
	          <tr th:each="jabatan : ${listJabatan}" th:object="${jabatan}"> 
	              <td> 
	                  <a class="text-info" th:text="*{nama}" th:href="@{/jabatan/view(idJabatan=*{id})}"></a> 
	              </td> 
	              <td th:text="*{deskripsi}"></td> 
	              <td th:text="'Rp'+ *{gaji_pokok}"></td> 
	              <td th:text="*{getJumlahPegawai()}"></td>
	          </tr> 
	          </tbody> 
	      </table>
	      <th:block th:fragment="jsFragment"> 
			    <script type="text/javascript" th:src="@{/js/jquery.js}"></script> 
			    <script type="text/javascript" th:src="@{/js/jquery.dataTables.js}"></script> 
			    
			    <script type="text/javascript" th:inline="javascript"> 
			        $(document).ready(function() { 
			            $('#jabatanTable').DataTable(); 
			        }) 
			    </script> 
			</th:block>      
	</body>
</html>