<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Pegawai Termuda dan Tertua</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<div>
		<h1 th:text="'Lihat Data Pegawai Termuda'"></h1>
		<br>
		<table>
			<tr>
				<td>NIP</td>
				<td th:text="${pegawaiMuda.nip}"></td>
			</tr>
			<tr>
				<td>Nama</td>
				<td th:text="${pegawaiMuda.nama}"></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td th:text="${#dates.format(pegawaiMuda.tanggalLahir, 'dd-MM-yyyy')}"></td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td th:text="${pegawaiMuda.tempat_lahir}"></td>
			</tr>
			<tr>
				<td>Tahun Masuk</td>
				<td th:text="${pegawaiMuda.tahun_masuk}"></td>
			</tr>
			<tr>
				<td>Nama Instansi</td>
				<td th:text="${pegawaiMuda.instansi.nama}"></td>
			</tr>
			<tr>
				<td>Jabatan</td>
				<td th:each="jabatan : ${pegawaiMuda.jabatan}" th:text="${jabatan.nama}"></td>
			</tr>
		</table>
		</div>
		<div>
		<h1 th:text="'Lihat Data Pegawai Tertua'"></h1>
		<br>
		<table>
			<tr>
				<td>NIP</td>
				<td th:text="${pegawaiTua.nip}"></td>
			</tr>
			<tr>
				<td>Nama</td>
				<td th:text="${pegawaiTua.nama}"></td>
			</tr>
			<tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td th:text="${#dates.format(pegawaiTua.tanggalLahir, 'dd-MM-yyyy')}"></td>
			</tr>
				<td>Tempat Lahir</td>
				<td th:text="${pegawaiTua.tempat_lahir}"></td>
			</tr>
			<tr>
				<td>Tahun Masuk</td>
				<td th:text="${pegawaiTua.tahun_masuk}"></td>
			</tr>
			<tr>
				<td>Nama Instansi</td>
				<td th:text="${pegawaiTua.instansi.nama}"></td>
			</tr>
			<tr>
				<td>Jabatan</td>
				<td th:each="jabatan : ${pegawaiTua.jabatan}" th:text="${jabatan.nama}"></td>
			</tr>
			
		</table>
		</div>
	</body>
</html>